# byNara LLM
BYNARA_API_KEY=your_bynara_api_key_here
BYNARA_BASE_URL=https://router.bynara.id/v1
BYNARA_MODEL=agnes-2.5-flash
LLM_PROVIDER=bynara

# Supabase Project
NEXT_PUBLIC_SUPABASE_URL=https://mfpbiwqesrlcljkumgxc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_u9d8u7Ag6nv6pjXV30sVjA_8w6e7dVE
SUPABASE_URL=https://mfpbiwqesrlcljkumgxc.supabase.co
SUPABASE_KEY=sb_publishable_u9d8u7Ag6nv6pjXV30sVjA_8w6e7dVE
